/* General Body Styling */
body {
    /* background: linear-gradient(135deg, #e0f7fa, #b2ebf2); */
    background: linear-gradient(135deg, #ae91db, #ab9c9c);
    min-height: 100vh;
    margin: 0;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: auto;
  }
  
  /* Registration Card Styling */
  .registration-form {
    /* background: #ffffff; */
    background-color: #e8e0e0;
    padding: 40px 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Heading Styling */
  .registration-form h2 {
    font-size: 24px;
    color: #34568B;
    margin-bottom: 30px;
    font-weight: 600;
  }
  
  /* Label Styling */
  .registration-form label {
    display: block;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 5px;
    color: #333;
  }
  
  /* Input, Select, Textarea Styling */
  .registration-form input,
  .registration-form select,
  .registration-form textarea {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  /* Button Styling */
  .registration-form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 12px;
    background-color: plum;
    border: none;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .registration-form button:hover {
    background-color: #66bb6a;
    color: #000;
  }
  

  /* OTP block styling */
.otp-block {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.otp-block input {
  width: 40px;
  height: 45px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s, box-shadow 0.3s;
}

.otp-block input:focus {
  border-color: #7b2ff7;
  box-shadow: 0 0 4px rgba(123, 47, 247, 0.5);
}
